/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0 auto;
    padding: 0;
}

header{
    text-align: center;
    background-color: aqua;
    padding: 0.5rem;
}

main{
    margin: 0 auto;
    width:80%;   
}

form {
    margin-bottom: 2rem;
}

button {
    padding:0.3rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #4c9daf;
    color: white;
    cursor: pointer;
    border-radius: 2rem;
}

button:hover {
    background-color: #52f1ff;
}

canvas {
    border: 1px solid #ccc;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
}
