/* styles.css */
body {      
     font-family: "Kiwi Maru", serif;
     font-weight: 400;
     font-style: normal;

    background-color: #f4f4f9;
    margin: 0 auto;
    padding: 0;
}
  

header{
    text-align: center;
    background-color: aqua;
    padding: 0.5rem;
    height: 12vh;
}

footer{
    font-size: 1.2rem;
    text-align: center;
    background-color: aqua;
    padding: 0.5rem;
    height:5vh;
}
nav{
    display:flex;
    justify-content: flex-end;
}

nav ul{
    list-style-type: none;       
    display:flex;  
}

nav a{    
    display: inline-block;      /* aタグをインラインブロックにして横並びに */
    margin-left: 1rem;          /* アイテム間にスペース */
    text-decoration: none;  /* 下線を消す */
    color:black;
    background-color: #c1fffb;
    padding:0.3rem;
    border-radius: 8px;
    min-width: 5rem;
    min-height:2rem;
}

/* ホバー時のスタイル */
nav a:hover {
    background-color: #00b5a3;             /* ホバー時に文字色を変更 */
}

main{
    margin: 0 auto;
    width:80%; 
    min-height: 83vh;  
}

.data {
    display:flex;
    flex-wrap: wrap; /* 子要素を折り返し可能に設定 */
}

.data div{
    padding:0.1rem;
    border:0.1rem solid #006783;
    margin:0.2rem 0.1rem 1rem 0.1rem;
    cursor: text; /* カーソルを「テキスト入力可能」に変更 */
}

.int{
    width:5rem;
    margin:0;
}

.diary{
    width:18rem;
}

    /* 入力中に大きくなるスタイル */
    textarea.diary.expanded {
        min-height: 200px; /* 高さを拡大 */
        border: 1px solid #207ee1; /* フォーカス時のボーダーカラー */
        background-color: #ffffff; /* 背景色を白く */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* 少し影をつける */
      }

button {
    padding:0.2rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #4c9daf;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 0.3rem;
}

button:hover {
    background-color: #52f1ff;
}

#lineChart {
    width: 100%; /* 親要素に応じて幅を調整 */
    max-height: 70vh; 
    border: 1px solid #ccc;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
}

select {
    border:2px solid #00a4eb;
    box-shadow: none;
    padding:0.1rem;
    background:url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    cursor: pointer;
    width:6rem;
  }

/*data.html*/
    table {
      width:100%;
      border-collapse: collapse;
    }
    th, td {
      border: 0.1rem solid #006783;
      padding: 0.1rem;
      text-align: left;
    }
    th {
      background-color: #67ffd6;
    }

    .vertical-text {
        writing-mode: vertical-rl; /* 文字を縦書きに変更 */
        text-orientation: upright; /* 文字の向きを縦に保つ */
        white-space: nowrap; /* 折り返しを防ぐ */
        text-align: center; /* 中央揃え */
        width:5%;
    }


@media(max-width:500px){
form{
    flex-direction: column;    
}

.data div{
    padding:0.1rem;
    border:0.1rem solid #006783;
    margin:0.05rem;
}


.int{
    width:100%;
}

#lineChart {
    width: 100%; /* 親要素に応じて幅を調整 */
    max-height: 40vh; 
}

.vertical-text {
    writing-mode: vertical-rl; /* 文字を縦書きに変更 */
    text-orientation: upright; /* 文字の向きを縦に保つ */
    white-space: nowrap; /* 折り返しを防ぐ */
    text-align: center; /* 中央揃え */
    width:1rem;
}
}