/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0 auto;
    padding: 0;
}

header{
    text-align: center;
    background-color: aqua;
    padding: 0.5rem;
}

nav{
    display:flex;
    justify-content: flex-end;
}

nav ul{
    list-style-type: none;       
    display:flex;  
}

nav a{    
    display: inline-block;      /* aタグをインラインブロックにして横並びに */
    margin-left: 1rem;          /* アイテム間にスペース */
    text-decoration: none;  /* 下線を消す */
    color:black;
    background-color: #c1fffb;
    padding:0.3rem;
    border-radius: 8px;
    min-width: 5rem;
    min-height:2rem;
}

/* ホバー時のスタイル */
nav a:hover {
    background-color: #00b5a3;             /* ホバー時に文字色を変更 */
}

main{
    margin: 0 auto;
    width:80%;   
}

form {
    display:flex;
    margin-bottom: 2rem;
}

.int{
    width:50%;
    margin:0;
}

button {
    padding:0.3rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #4c9daf;
    color: white;
    cursor: pointer;
    border-radius: 2rem;
}

button:hover {
    background-color: #52f1ff;
}

canvas {
    border: 1px solid #ccc;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
}


/*data.html*/
    table {
      width: 80%;
      border-collapse: collapse;
    }
    th, td {
      border: 0.1rem solid #006783;
      padding: 0.2rem;
      text-align: left;
    }
    th {
      background-color: #67ffd6;
    }


@media(max-width:500px){
form{
    flex-direction: column;    
}

.int{
    width:30%;
}

}